services:
  app:
    container_name: app
    image: app
    ports:
      - "8081:8081"
    volumes:
      - ./data/files:/storage
    networks:
      - local
    depends_on:
      - db

  db:
    container_name: postgres
    domainname: postgres
    image: postgres:latest
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql
    networks:
      - local

networks:
  local:
    driver: bridge
